{
    "root": true,
    "env": {
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "globals": {
        "angular": false
    },
    "plugins": ["angular"],
    "rules": {
        "comma-dangle": [2, "never"],
        "no-cond-assign": [2, "except-parens"],
        "no-console": 2,
        "no-constant-condition": 2,
        "no-control-regex": 2,
        "no-debugger": 2,
        "no-dupe-args": 2,
        "no-dupe-keys": 2,
        "no-duplicate-case": 2,
        "no-empty-character-class": 2,
        "no-empty": 2,
        "no-ex-assign": 2,
        "no-extra-boolean-cast": 2,
        "no-extra-parens": [2, "functions"],
        "no-extra-semi": 2,
        "no-func-assign": 2,
        "no-inner-declarations": [2, "both"],
        "no-invalid-regexp": 2,
        "no-irregular-whitespace": 2,
        "no-negated-in-lhs": 2,
        "no-obj-calls": 2,
        "no-regex-spaces": 2,
        "no-sparse-arrays": 2,
        "no-unexpected-multiline": 2,
        "no-unreachable": 2,
        "use-isnan": 2,
        "valid-jsdoc": 0,
        "valid-typeof": 2,

        "accessor-pairs": [2, { "setWithoutGet": true, "getWithoutSet": false }],
        "array-callback-return": 2,
        "block-scoped-var": 2,
        "complexity": [2, 2],
        "consistent-return": 2,
        "curly": [2, "all"],
        "default-case": 2,
        "dot-location": [2, "property"],
        "dot-notation": [2, { "allowKeywords": true, "allowPattern": "" }],
        "eqeqeq": 2,
        "guard-for-in": 2,
        "no-alert": 2,
        "no-caller": 2,
        "no-case-declarations": 2,
        "no-div-regex": 2,
        "no-else-return": 2,
        "no-empty-pattern": 2,
        "no-eq-null": 2,
        "no-eval": 2,
        "no-extend-native": 2,
        "no-extra-bind": 2,
        "no-extra-label": 2,
        "no-fallthrough": 2,
        "no-floating-decimal": 2,
        "no-implicit-coercion": [2, { "boolean": true, "number": true, "string": true }],
        "no-implicit-globals": 2,
        "no-implied-eval": 2,
        "no-invalid-this": 2,
        "no-iterator": 2,
        "no-labels": 2,
        "no-lone-blocks": 2,
        "no-loop-func": 2,
        "no-magic-numbers": [0, { "ignore": [-1, 0, 1, 2, 3] }],
        "no-multi-spaces": 2,
        "no-multi-str": 2,
        "no-native-reassign": 2,
        "no-new-func": 2,
        "no-new-wrappers": 2,
        "no-new": 2,
        "no-octal-escape": 2,
        "no-octal": 2,
        "no-param-reassign": [2, { "props": false }],
        "no-process-env": 2,
        "no-proto": 2,
        "no-redeclare": [2, { "builtinGlobals": true }],
        "no-return-assign": [2, "except-parens"],
        "no-script-url": 2,
        "no-self-assign": 2,
        "no-self-compare": 2,
        "no-sequences": 2,
        "no-throw-literal": 2,
        "no-unmodified-loop-condition": 2,
        "no-unused-expressions": [2, { "allowShortCircuit": false, "allowTernary": false }],
        "no-unused-labels": 2,
        "no-useless-call": 2,
        "no-useless-concat": 2,
        "no-void": 2,
        "no-warning-comments": [2, { "terms": ["todo", "fixme"], "location": "anywhere" }],
        "no-with": 2,
        "radix": 2,
        "vars-on-top": 2,
        "wrap-iife": [2, "inside"],
        "yoda": [2, "never"],

        "strict": 0,

        "init-declarations": [2, "always"],
        "no-catch-shadow": 2,
        "no-delete-var": 2,
        "no-label-var": 2,
        "no-shadow-restricted-names": 2,
        "no-shadow": [2, { "builtinGlobals": true, "hoist": "all", "allow": [] }],
        "no-undef-init": 2,
        "no-undef": [2, { "typeof": true }],
        "no-undefined": 2,
        "no-unused-vars": [2, { "vars": "all", "args": "all" }],
        "no-use-before-define": 0,

        "callback-return": [2, ["callback", "cb", "next"]],
        "global-require": 2,
        "handle-callback-err": [2, "err"],
        "no-mixed-requires": [1, { "grouping": true }],
        "no-new-require": 2,
        "no-path-concat": 2,
        "no-process-exit": 2,
        "no-restricted-imports": 0,
        "no-restricted-modules": 0,
        "no-sync": 2,

        "array-bracket-spacing": [2, "never"],
        "block-spacing": [2, "always"],
        "brace-style": [2, "1tbs", { "allowSingleLine": false }],
        "camelcase": [2, {"properties": "always"}],
        "comma-spacing": [2, {"before": false, "after": true}],
        "comma-style": [2, "last"],
        "computed-property-spacing": [2, "never"],
        "consistent-this": [2, "self"],
        "eol-last": 2,
        "func-names": 2,
        "func-style": [2, "declaration", { "allowArrowFunctions": true }],
        "id-length": 0,
        "id-match": 0,
        "id-blacklist": 0,
        "indent": [2, 4, {"SwitchCase": 1}],
        "jsx-quotes": 0,
        "key-spacing": [2, {"beforeColon": false, "afterColon": true, "mode": "strict"}],
        "linebreak-style": [0, "windows"],
        "lines-around-comment": 0,
        "max-nested-callbacks": [2, 3],
        "new-cap": 2,
        "new-parens": 2,
        "newline-after-var": [0, "always"],
        "no-array-constructor": 2,
        "no-continue": 2,
        "no-inline-comments": 2,
        "no-lonely-if": 2,
        "no-mixed-spaces-and-tabs": 2,
        "no-multiple-empty-lines": [2, { "max": 1 }],
        "no-negated-condition": 0,
        "no-nested-ternary": 2,
        "no-new-object": 2,
        "no-restricted-syntax": 0,
        "no-whitespace-before-property": 2,
        "no-spaced-func": 2,
        "no-ternary": 0,
        "no-trailing-spaces": 2,
        "no-underscore-dangle": 2,
        "no-unneeded-ternary": 2,
        "object-curly-spacing": [2, "never"],
        "one-var": [2, "never"],
        "one-var-declaration-per-line": 0,
        "operator-assignment": 0,
        "operator-linebreak": [2, "before"],
        "padded-blocks": [2, "never"],
        "quote-props": [2, "consistent-as-needed"],
        "quotes": [2, "double"],
        "require-jsdoc": 0,
        "semi-spacing": [2, {"before": false, "after": true}],
        "semi": [2, "always"],
        "sort-vars": 0,
        "sort-imports": 0,
        "keyword-spacing": [2, {before: false, after: true, "overrides": {"if": {"after": false}}}],
        "space-before-blocks": [2, "always"],
        "space-before-function-paren": [2, "never"],
        "space-in-parens": [2, "never"],
        "space-infix-ops": 2,
        "space-unary-ops": [1, { "words": true, "nonwords": false }],
        "spaced-comment": [2, "always"],
        "wrap-regex": 2,

        "arrow-body-style": [0, "as-needed"],
        "arrow-parens": [2, "as-needed"],
        "arrow-spacing": [2, { "before": true, "after": true }],
        "constructor-super": 2,
        "generator-star-spacing": [2, "after"],
        "no-class-assign": 2,
        "no-confusing-arrow": 2,
        "no-const-assign": 2,
        "no-dupe-class-members": 2,
        "no-new-symbol": 2,
        "no-this-before-super": 2,
        "no-var": 2,
        "no-useless-constructor": 2,
        "object-shorthand": [2, "always"],
        "prefer-arrow-callback": 2,
        "prefer-const": 0,
        "prefer-reflect": 2,
        "prefer-rest-params": 2,
        "prefer-spread": 2,
        "prefer-template": 2,
        "require-yield": 2,
        "template-curly-spacing": [2, "never"],
        "yield-star-spacing": [2, {"before": true, "after": false}],

        "max-depth": [2, 2],
        "max-len": 0,
        "max-params": [2, 3],
        "max-statements": [2, 10],
        "no-bitwise": 2,
        "no-plusplus": [2, { "allowForLoopAfterthoughts": true }],

        "angular/angularelement": 2,
        "angular/component-limit": [0, 1],
        "angular/controller-as": 2,
        "angular/controller-as-route": 2,
        "angular/controller-as-vm": [0, "vm"],
        "angular/controller-name": [2, "/[A-Z].*Controller$/"],
        "angular/deferred": 2,
        "angular/definedundefined": 2,
        "angular/di": [0, "$inject"],
        "angular/di-order": 0,
        "angular/di-unused": 2,
        "angular/directive-name": 0,
        "angular/directive-restrict": [2, { "restrict": "AE", "explicit": "never" }],
        "angular/document-service": 2,
        "angular/empty-controller": 2,
        "angular/file-name": [0, { "nameStyle": "dash", "typeSeparator": "dot", "ignoreTypeSuffix": true, "ignorePrefix": "app." }],
        "angular/filter-name": 0,
        "angular/foreach": 0,
        "angular/function-type": [2, "named"],
        "angular/interval-service": 2,
        "angular/json-functions": 2,
        "angular/log": 2,
        "angular/module-dependency-order": [0, { "grouped": true, "prefix": "app" }],
        "angular/module-getter": 0,
        "angular/module-name": 0,
        "angular/module-setter": 2,
        "angular/no-angular-mock": 2,
        "angular/no-controller": 0,
        "angular/no-cookiestore": 2,
        "angular/no-digest": 0,
        "angular/no-http-callback": 2,
        "angular/no-inline-template": [0, { "allowSimple": true }],
        "angular/no-jquery-angularelement": 2,
        "angular/no-private-call": 2,
        "angular/no-service-method": 0,
        "angular/no-services": [2, ["$http", "$resource", "Restangular"]],
        "angular/on-watch": 2,
        "angular/rest-service": [2, "$http"],
        "angular/service-name": 0,
        "angular/timeout-service": 2,
        "angular/typecheck-array": 2,
        "angular/typecheck-date": 2,
        "angular/typecheck-function": 2,
        "angular/typecheck-number": 2,
        "angular/typecheck-object": 2,
        "angular/typecheck-regexp": 0,
        "angular/typecheck-string": 2,
        "angular/watchers-execution": [2, "$digest"],
        "angular/window-service": 2,
    }
}
